<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--<form th:method="POST" th:action="@{/bookDetailsCon}">-->
   <h1 th:text="${details.getTitle()}"></h1>
    <section>
        <h2 th:text="${details.getGenre()}"></h2>
        <h2 th:text="${details.getYear()}"></h2>
        <h2>Authors:</h2>
        <ul th:each="author : ${details.getAuthors()}">
            <li th:text="${author.getName() + ' ' + author.getSurname()}"></li>
        </ul>
        <form th:method="POST" th:action="@{'/bookDetailsCon/delete/{id}' (id=${details.getId()})}">
            <input type="hidden" th:name="id" th:value="${details.getId()}">
            <input type="submit" th:value='Delete'>
        </form>
        <a type="button" class="btn btn-primary" href="/books">Back</a>
    </section>
<!--</form>-->